<% @orders.each do |order| %>
<ul>
  <%= link_to "ORDER #{order.number}", order %>
    <% order.materials.each do |material| %>
    <li><%= material.clock %></li>
  <% end %>
</ul>
<% end %>

<%= link_to "New order", new_order_url %>
