
<a href="/materials/new">Add Advertising Material to Honeycomb database</a><br>

<% if @materials.any? %>
<a href="/orders/new">Create delivery order</a>
<% else %>
There are no advertising materials you could deliver
<% end %>
